
  #form1{
    position: relative;
    width: 50%;
    float: left;
    height: 100%;
    background-color: #282828;
    flex: 1;
    font-size:20px;
    
    background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
     
  }
  
  #tab{
   position: relative;
  width: 50%;
  float: left;
  height: 100%;
  background-color: #0080ff;
  z-index: 1010101010;
    
  
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  
  }

  input[type="submit"]{
    position: absolute;
    bottom:0;
    left: 0px;
    right: 0px;
    width: 40%;
    height:5% ;
   
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    border:rgb(red, green, blue);
    color:#fff;
    font-size:20px;
    font-weight:70;
    cursor:pointer;
    font-family:'Ubuntu',sans-serif
    }
    #table {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
      overflow-x:auto;
      position: responsive;
    }
    
    #table td, #table th {
      border: 1px solid #ddd;
      padding: 8px;
    }


#table tr:nth-child(even){background-color: #6b8cce;}


#table tr:hover {background-color: #a2b6df;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);

  color: white;
}
    